<section class="flex flex-col lg:flex-row h-screen lg:px-32 font-medium  max-w-[1366px] mx-auto">
    <div class="container mx-auto p-4 flex flex-col  h-screen  justify-center">
        
        <div class="capitalize font-megrim font-medium text-5xl text-center lg:text-6xl py-16">
                <div class="glitch ">
                    <span [attr.data-text] ='"About"' class="tracking-wide w-max" *ngFor="let number of [0,1,2,3,4]">About</span>
                </div>
        </div>


        <div class="flex flex-col lg:flex-row lg:p-4 lg:my-auto">

            <!-- <app-image class="lg:basis-1/2 flex grayscale-30" [projectItem]="imgUrl"></app-image> -->

            <div class="img-wrapper flex mx-auto">
                <div class="container shadow-2xl -rotate-2 border-8 border-slate-300 outline-dashed -outline-5 outline-slate-300 w-full h-full flex flex-col bg-white">
              
                  <div class="image lg:w-80 lg:h-80 h-60 w-60 overflow-hidden">
                    <img class="lg:w-full lg:h-auto object-cover pb-4" src="{{ imgUrl.url_link }}" alt="{{ imgUrl.alt_text }}"
                    srcset="" />
                  </div>
              
                  <span class="text-xs text-center pb-6 font-bold"># SANUJA # DEVELOPER 
                  </span>
                </div>
            </div>

            <div class="lg:basis-1/2  flex flex-col pt-8 tracking-wide ">

                <p class="max-w-max first-letter:text-7xl first-letter:font-medium 
                first-letter:mr-3 first-letter:float-left"> I describe myself as a self-learning, <span>passionate developer</span> who loves coding and designing. Coding has been my passion since the days when I started working with computers.</p>
                &nbsp;
                <p class="max-w-max">From there, my fascination with technology led me to delve deeper into the intricate world of software development.</p>
                &nbsp;
                <span class="uppercase">Tech stack : </span>
                &nbsp;
 
                <div class="tec-stack flex flex-row flex-wrap gap-2 lg:gap-4">
                    <app-icon *ngFor="let stack of stacksList" [stack]="stack"></app-icon>
                </div>
            </div>
        

        </div>

        
    </div>
</section>
