<!-- <section class="fixed h-screen">
    <div class="container mx-auto">
        <div class='circle xxlarge shade1'></div>
        <div class='circle xlarge shade2'></div>
    </div>
</section>
   -->

<div class="relative">
    <img
    class="absolute opacity-10 lg:rotate-0 border border-white -rotate-90 w-screen lg:h-screen lg:mt-0 mt-96" 

    src="../../assets/images/Welcome-2015010437.svg"
    alt=""
    srcset=""
    />
    <img src="../../assets/images/1583227942ink-grunge-freesvg.org.svg" class="absolute opacity-10 w-screen lg:h-screen lg:mt-0 mt-96" alt="" srcset=""> 

  </div>