<app-nav-bar></app-nav-bar>

<app-background-anime></app-background-anime>

<div class="pages-wrapper h-screen overflow-hidden">
  <div class="pages-container">

    <div #page class="section-wrapper">
      <div class="section-container">
        <app-hero></app-hero>
      </div>
    </div>

    <div #page class="section-wrapper">
      <div class="section-container">
        <app-about></app-about>
      </div>
    </div>

    <div #page class="section-wrapper">
      <div class="section-container">
        <app-projects [projectItems]="projectItemsList"></app-projects>
      </div>
    </div>

    <div *ngFor="let projectItem of projectItemsList.slice(0,4)" #page class="section-wrapper">
      <div class="section-container">
        <app-project-item [projectItem]="projectItem" ></app-project-item>
      </div>
    </div>

    <div #page class="section-wrapper">
      <div class="section-container">
        <app-contact></app-contact>
      </div>
    </div>
  </div>


  <div class="nav">
    <button #prev (click)="clickPrev()"></button>
    <button #next (click)="clickNext()"></button>
  </div>

</div>

<router-outlet></router-outlet>