<section class="about border-2 border-black flex flex-col lg:flex-row h-screen">
    <div class="border-2 border-black container mx-auto flex p-4 flex-col ">
        
        <p class="basis-1/4 border-2 border-black capitalize font-megrim text-5xl lg:text-6xl">Car Rental</p>

        <div class="basis-3/4 flex flex-col lg:flex-row">

            <div class="container border-2 border-black flex justify-center lg:justify-end p-4 lg:p-10 overflow-hidden">
                <img class="rounded-full" src="../../assets/images/car-rental.png" alt="" srcset="">
            </div>

            <div class="flex flex-col border-2 border-black">
                <p></p>
                <p>A car rental website is an online platform that allows users to rent cars for personal or business use. The website provides an interface for searching, comparing, and reserving cars.</p>
                <span class="uppercase">Tech stack</span>
                <div class="tec-stack flex flex-row flex-wrap">
                    <img class="h-8 w-8" src="../../assets/images/css3.svg" alt="img-css3" srcset="">
                    <img class="h-8 w-8" src="../../assets/images/angular.svg" alt="img-angular" srcset="">
                    <img class="h-8 w-8" src="../../assets/images/tailwindcss.svg" alt="img-tailwindcss" srcset="">
                    <img class="h-8 w-8" src="../../assets/images/scss.svg" alt="img-scss" srcset="">

                </div>
            </div>
        

        </div>

        
    </div>
</section>
