<section class="flex flex-col lg:flex-row h-screen lg:px-32 font-medium  max-w-[1366px] mx-auto">
    <div class="container mx-auto p-4 flex flex-col  h-screen  justify-center">
        
        <div class="flex flex-row capitalize font-megrim font-bold text-5xl text-center lg:text-6xl py-16">
                <div class="glitch">
                    <span [attr.data-text] ="projectItem.projectName" class="tracking-wide w-max" *ngFor="let number of [0,1,2,3,4]">{{projectItem.projectName}}</span>
                </div>
        </div>


        <div class="flex flex-col lg:flex-row lg:p-4 lg:my-auto">

            <app-image class="lg:basis-1/2 flex " [projectItem]="projectItem"></app-image>

            <div class="lg:basis-1/2  flex flex-col pt-8">

                <!-- write historic thing aboutEcommerce  Fashion starting with "Did you know?"  - 1 sentence -->
                <p class="max-w-max">{{projectItem.desc1}}</p>
                &nbsp;
                <p class="max-w-max font-medium">{{projectItem.desc2}}</p>
                &nbsp;
                <div class="tec-stack flex flex-row flex-wrap gap-2 lg:gap-4">
                    <app-icon *ngFor="let stack of projectItem.techStack" [stack]="stack"></app-icon>
                </div>
            </div>
        

        </div>

        
    </div>
</section>
